* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: elaineSans-SemiBold;
 
}

:-webkit-x-scrollbar{
  display: none;
}


.title {
  margin-top: 50px;
  font-family: elaineSans-SemiBold;
  font-size: 45px;
}

.hilal {
  width: 100%;
  display: block;
  padding: 28px 0px 0px 0px;
  font-size: 35px;
}

.hilal span {
  color: red;
}

.hilal p {
  font-size: 12.3px;
  color: green;
  font-weight: 700;
}

.name-heading {
  padding-top: 10px;
  font-family: elaineSans-SemiBold;
  font-size: 14px;
  font-weight: 600;
}

.member {
  font-size: 14px;

}
.member b {
  color: red;
}



.council-logo-left {
  width: 50%;
  
  display: block;
  /* margin-top: rem; */
  text-align: center;
}
.council-logo-left img{
    width: 250px;
    height: 250px;
    margin: auto;
}

/* .main-council{
  display: flex;
} */



.council-logo-right {
  width: 50%;
  
  display: block;
  margin-top: 3.5rem;
  text-align: center;
}


.council-logo-right img{
    width: 250px;
    height: 250px;
    margin: auto;
}



.council-logo h4 {
  text-align: center;
}








/* h2 {
  font-size: 45px;
} */


/* ====================== heading center====================== */
/* 
.Heading {
  border: 1px solid black;
  height: auto;
}

 .Heading span .text-and{
 text-transform: lowercase;
 font-size: 4rem;
}

.Heading h1 span {
  font-family: elaineSans-ExtraLight;
  transition: all 0.3s ease-in-out;
  font-size: 4rem;
  line-height: 20px;
  text-transform: uppercase;
  color: #d9dadb;
  margin-top: 30px;
}

.Heading h2 {
  font-family: elaineSans-SemiBold;
  font-size: 45px;
  font-weight: 500;
  line-height: 10px;
}

.home-heading1 {
  margin-top: 8rem;
}



@media screen  and (min-width:768px)  and (max-width:1200px) {
  

  .Heading h1 span {
   
    line-height: 10rem;
    text-transform: uppercase;
    color: #d9dadb;
    margin-top: 30px;
  }
  

  .Heading span .text-and{
    text-transform: uppercase;
    font-size: 4rem;
   
   }
   




} */





/* ==================================images================= */

.image-display {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.display-width {
  width: 100%;

}

    .display-left {
  background: linear-gradient(rgba(33, 30, 30, 0.84), rgba(29, 25, 25, 0.7)),
    url(https://scontent.flhe5-1.fna.fbcdn.net/v/t39.30808-6/299294266_365724325764568_4755002102037008504_n.jpg?stp=dst-jpg_p640x640&_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=vcf71JRNl9YAX8Wxj4X&_nc_ht=scontent.flhe5-1.fna&oh=00_AfA9kksnlvM3msoaDrziFsAQ4lSauLy2GmiVZh5-4oFaNA&oe=65A56869) top
      left/cover no-repeat;
  width: 50%;
  
  height: 20rem;
  position: relative;
}

.display-left1 {
  background: linear-gradient(rgba(33, 30, 30, 0.84), rgba(29, 25, 25, 0.7)),
    url(https://scontent.flhe5-1.fna.fbcdn.net/v/t39.30808-6/299294266_365724325764568_4755002102037008504_n.jpg?stp=dst-jpg_p640x640&_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=vcf71JRNl9YAX8Wxj4X&_nc_ht=scontent.flhe5-1.fna&oh=00_AfA9kksnlvM3msoaDrziFsAQ4lSauLy2GmiVZh5-4oFaNA&oe=65A56869) top
      left/cover no-repeat;
  width: 50%;
  /* border: 1px solid black; */
  height: 20rem;
  position: relative;
}

.display-left2 {
  background: linear-gradient(rgba(33, 30, 30, 0.84), rgba(29, 25, 25, 0.7)),
    url(https://scontent.flhe5-1.fna.fbcdn.net/v/t39.30808-6/299294266_365724325764568_4755002102037008504_n.jpg?stp=dst-jpg_p640x640&_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=vcf71JRNl9YAX8Wxj4X&_nc_ht=scontent.flhe5-1.fna&oh=00_AfA9kksnlvM3msoaDrziFsAQ4lSauLy2GmiVZh5-4oFaNA&oe=65A56869)
      top left/cover no-repeat;
  width: 50%;
  
  height: 20rem;
  position: relative;
}

.display-left3 {
  background: linear-gradient(rgba(33, 30, 30, 0.84), rgba(29, 25, 25, 0.7)),
    url(https://scontent.flhe5-1.fna.fbcdn.net/v/t39.30808-6/299294266_365724325764568_4755002102037008504_n.jpg?stp=dst-jpg_p640x640&_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=vcf71JRNl9YAX8Wxj4X&_nc_ht=scontent.flhe5-1.fna&oh=00_AfA9kksnlvM3msoaDrziFsAQ4lSauLy2GmiVZh5-4oFaNA&oe=65A56869)
      top left/cover no-repeat;
  width: 50%;
  
  height: 20rem;
  position: relative;
}

.content-display {
  padding: 30px;

  width: 100%;
  height: 100%;
  top: 0;
 
}
.content-display:hover {
  background-color: #dc1f2563;
}
.display-h2 {
  font-size: 2rem;
  color: #d9dadb;
  font-family: elaineSans-Regular;
}
.content-display h3 {
  color: #fff;
  font-family: elaineSans-Regular;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
  margin-top: 1rem;
  margin-bottom: 25px;
}

.content-display p a {
  text-decoration: none;
  background: #fff;
  padding: 8px 20px;
  font-size: 17px;
  margin-top: 20px;
  border-radius: 35px;
  color: #000;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.46);
  display: inline-block;
  overflow: visible;
  margin-bottom: 10px;
  text-shadow: none;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.content-display p a:hover {
  background: #000;
  color: #d9dadb;
}

.content-display p {
  color: black;
}

.display-right {
  background: linear-gradient(rgba(33, 30, 30, 0.84), rgba(29, 25, 25, 0.7)),
    url(https://scontent.flhe5-1.fna.fbcdn.net/v/t39.30808-6/299294266_365724325764568_4755002102037008504_n.jpg?stp=dst-jpg_p640x640&_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=vcf71JRNl9YAX8Wxj4X&_nc_ht=scontent.flhe5-1.fna&oh=00_AfA9kksnlvM3msoaDrziFsAQ4lSauLy2GmiVZh5-4oFaNA&oe=65A56869)
      top left/cover no-repeat;
  width: 50%;
  height: 20rem;
  border: 1px solid black;
}

.display-right1 {
  background: linear-gradient(rgba(33, 30, 30, 0.84), rgba(29, 25, 25, 0.7)),
    url(https://scontent.flhe5-1.fna.fbcdn.net/v/t39.30808-6/299294266_365724325764568_4755002102037008504_n.jpg?stp=dst-jpg_p640x640&_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=vcf71JRNl9YAX8Wxj4X&_nc_ht=scontent.flhe5-1.fna&oh=00_AfA9kksnlvM3msoaDrziFsAQ4lSauLy2GmiVZh5-4oFaNA&oe=65A56869)
      top left/cover no-repeat;
  width: 50%;
  height: 20rem;
}

.display-right3 {
  background: linear-gradient(rgba(33, 30, 30, 0.84), rgba(29, 25, 25, 0.7)),
    url(https://scontent.flhe5-1.fna.fbcdn.net/v/t39.30808-6/299294266_365724325764568_4755002102037008504_n.jpg?stp=dst-jpg_p640x640&_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=vcf71JRNl9YAX8Wxj4X&_nc_ht=scontent.flhe5-1.fna&oh=00_AfA9kksnlvM3msoaDrziFsAQ4lSauLy2GmiVZh5-4oFaNA&oe=65A56869) top
      left/cover no-repeat;
  width: 50%;
  height: 20rem;
}

.display-right4 {
  background: linear-gradient(rgba(33, 30, 30, 0.84), rgba(29, 25, 25, 0.7)),
    url(https://scontent.flhe5-1.fna.fbcdn.net/v/t39.30808-6/299294266_365724325764568_4755002102037008504_n.jpg?stp=dst-jpg_p640x640&_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=vcf71JRNl9YAX8Wxj4X&_nc_ht=scontent.flhe5-1.fna&oh=00_AfA9kksnlvM3msoaDrziFsAQ4lSauLy2GmiVZh5-4oFaNA&oe=65A56869) top
      left/cover no-repeat;
  width: 50%;
  height: 20rem;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .display-width {
    width: 100%;
    display: block;
  }
}


